<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:a4j="http://richfaces.org/a4j"
    xmlns:rich="http://richfaces.org/rich"
    xmlns:richx="http://richfaces.org/richx" template="template.xhtml">

    <ui:define name="headTitle">validator — ( JSR 303 ) beans validation POC using JSF &amp; RichFaces</ui:define>
    <ui:define name="pageTitle">JSR 303 beans validation POC</ui:define>

    <ui:define name="contents">
        <f:loadBundle basename="labels.index" var="labels" />
        
        <div class="col-sm-6">
        <h:form id="main" role="form" class="form-horizontal well">
            <fieldset>
                <legend>JSR 303 Validation constraints on attributes ( by attribute name )</legend>
                <f:validateBean>
                    <h:messages globalOnly="true" styleClass="" errorClass="has-error" infoClass="has-success" warnClass="has-warning" />
                    <h:panelGroup id="num-group">
                    <div class="form-group #{numComponent.valid ? 'valid' : 'has-error'}">
                        <h:outputLabel id="num_label" for="num" value="#{labels.num}" class="col-sm-4 control-label" />
                        <div class="col-sm-8">
                            <h:inputText id="num" value="#{data.num}" label="#{labels.num}" type="  " class="form-control" binding="#{numComponent}">
                                <a4j:ajax render="num-group" />
                            </h:inputText>
                            <h:message id="num_message" styleClass="help-block" for="num" />
                        </div>
                    </div>
                    </h:panelGroup>
                    <h:panelGroup id="dec-group">
                    <div class="form-group #{decComponent.valid ? 'valid' : 'has-error'}">
                        <h:outputLabel id="dec_label" for="dec" value="#{labels.dec}" class="col-sm-4 control-label" />
                        <div class="col-sm-8">
                            <h:inputText id="dec" value="#{data.dec}" label="#{labels.dec}" type="number" step="0.01" class="form-control" binding="#{decComponent}">
                                <a4j:ajax render="dec-group" />
                            </h:inputText>
                            <h:message id="dec_message" styleClass="help-block" for="dec" />
                        </div>
                    </div>
                    </h:panelGroup>
                    <h:panelGroup id="optional-group">
                    <div class="form-group #{optComponent.valid ? 'valid' : 'has-error'}">
                        <h:outputLabel id="optional_label" for="optional" value="#{labels.optional}" class="col-sm-4 control-label" />
                        <div class="col-sm-8">
                            <h:inputText id="optional" value="#{data.optional}" label="#{labels.optional}" type="text" class="form-control" binding="#{optComponent}">
                                <a4j:ajax render="optional-group" />
                            </h:inputText>
                            <h:message id="optional_message" for="optional" styleClass="help-block" />
                        </div>
                    </div>
                    </h:panelGroup>
                    <h:panelGroup id="required-group">
                    <div class="form-group #{requiredComponent.valid ? 'valid' : 'has-error'}">
                        <h:outputLabel id="required_label" for="required" value="#{labels.required}" class="col-sm-4 control-label" />
                        <div class="col-sm-8">
                            <h:inputText id="required" value="#{data.required}" label="#{labels.required}" type="text" class="form-control required" binding="#{requiredComponent}">
                                <a4j:ajax render="required-group" />
                            </h:inputText>
                            <h:message id="required_message" for="required" styleClass="help-block" />
                        </div>
                    </div>
                    </h:panelGroup>
                    <h:panelGroup id="email-group">
                    <div class="form-group #{emailComponent.valid ? 'valid' : 'has-error'}">
                        <h:outputLabel id="email_label" for="email" value="#{labels.email}" class="col-sm-4 control-label" />
                        <div class="col-sm-8">
                            <h:inputText id="email" value="#{data.email}" label="#{labels.email}" type="email" class="form-control" binding="#{emailComponent}">
                                <a4j:ajax render="email-group" />
                            </h:inputText>
                            <h:message id="email_message" for="email" styleClass="help-block" />
                        </div>
                    </div>
                    <div class="form-group">
                        <h:outputLabel id="emailOutput_label" for="emailOutput" value="#{labels.email} Output" class="col-sm-4 control-label" />
                        <div class="col-sm-8">
                            <h:outputText id="emailOutput" value="#{data.email}" label="emailOutput" />
                            <h:message id="emailOutput_message" for="emailOutput" styleClass="help-block" />
                        </div>
                    </div>
                    </h:panelGroup>
                    <div class="form-group">
                        <h:outputLabel id="disabled_label" for="disabled" class="col-sm-4 control-label" value="#{labels.disabled}" />
                        <div class="col-sm-8">
                            <h:inputText id="disabled" value="#{data.disabled}" label="#{labels.disabled}" type="disabled" disabled="true" class="form-control" />
                            <h:message id="disabled_message" for="disabled" styleClass="help-block" />
                        </div>
                    </div>
                    <div class="form-group">
                        <h:outputLabel id="mmRequired_label" for="mmRequired" class="col-sm-4 control-label" value="#{labels.mmRequired}" />
                        <div class="col-sm-8">
                            <div class="checkbox">
                                <h:selectBooleanCheckbox id="mmRequired" value="#{data.minMaxRequired}" label="#{labels.mmRequired}">
                                    <a4j:ajax event="click" render="minMax" />
                                </h:selectBooleanCheckbox>
                                <h:message id="mmRequired_message" for="mmRequired" styleClass="help-block" />
                            </div>
                        </div>
                    </div>
                    <!-- something is wrong with this part... -->
                    <h:panelGroup id="minMax">
                      <h:panelGroup id="min-group">
                        <div class="form-group #{minComponent.valid ? 'valid' : 'has-error'}">
                            <h:outputLabel id="min_label" for="min" value="#{labels.min}" class="col-sm-4 control-label" />
                            <div class="col-sm-8">
                                <h:inputText id="min" value="#{data.min}" label="#{labels.min}" type="number" class="form-control" binding="#{minComponent}" disabled="#{!data.minMaxRequired}">
                                    <a4j:ajax render="min-group" />
                                </h:inputText>
                                <h:message id="min_message" styleClass="help-block" for="min" />
                            </div>
                        </div>
                      </h:panelGroup>
                      <h:panelGroup id="max-group">
                        <div class="form-group #{maxComponent.valid ? 'valid' : 'has-error'}">
                            <h:outputLabel id="max_label" for="max" value="#{labels.max}" class="col-sm-4 control-label" />
                            <div class="col-sm-8">
                                <h:inputText id="max" value="#{data.max}" label="#{labels.max}" type="number" class="form-control" binding="#{maxComponent}" disabled="#{!data.minMaxRequired}">
                                    <a4j:ajax render="max-group" />
                                </h:inputText>
                                <h:message id="max_message" styleClass="help-block" for="max" />
                            </div>
                        </div>
                      </h:panelGroup>
                    </h:panelGroup>
                    <div class="form-group">
                        <div class="col-sm-offset-4 col-sm-8">
                            <h:commandButton action="#{data.validate}" class="btn btn-primary" value="#{labels.save}" />
                            <h:commandButton action="saveNoValidate" class="btn btn-info" value="#{labels.saveNoValidate}">
                                <f:param name="skipBeanValidation" value="true" />
                            </h:commandButton>
                        </div>
                    </div>
                </f:validateBean>
            </fieldset>
        </h:form>
        </div>
    
        <article class="col-sm-6">
            <p>I'm using this project as a Proof Of Concept of JSR 303 beans validation samples for creating simple and complex UI &amp; backend rules using <code>JSR 303</code> on <code>JSF</code> + <code>RichFaces</code>.</p>
            <p>This project also integrates with:</p>
            <ul>
                <li>JSF ( 2.1 ) - Apache MyFaces Impl</li>
                <li>RichFaces ( 4.3.0 )</li>
                <li>Hibernate-Validator ( 4.3.0 )</li>
            </ul>
            <p>Source code is at <code>git@bitbucket.org:cikasfm/validator.git</code> or you can also browse it using a browser at <a href="https://bitbucket.org/cikasfm/validator/src">https://bitbucket.org/cikasfm/validator/src</a></p>
            <p>The web app uses an embedded tomcat server, so all you need to do run the following commands:</p>
            <div class="codehilite">
                <pre>git clone git@bitbucket.org:cikasfm/validator.git
# run tomcat using maven
mvn tomcat:run
# or package war using maven and run it executable jar
mvn package
java -jar target/validator-1.0-SNAPSHOT-war-exec.jar</pre>
            </div>

            <p><strong>Note:</strong> By default <code>Tomcat</code> will listen port <code>8080</code>. You can also add the optional <code>--httpPort</code> parameter to change the http connection port if <code>8080</code> is not available, e.g. <code>java -jar target/validator-1.0-SNAPSHOT-war-exec.jar --httpPort 8888</code></p>
            <p>( once ready to work ) the project shall be deployed on heroku at <a href="http://validator.vilutis.lt/validator/">http://validator.vilutis.lt/validator/</a> ( or <a href="http://zvalidator.herokuapp.com/validator/">http://zvalidator.herokuapp.com/validator/</a> ), to deploy to <code>heroku</code> you need to push to <code>git@heroku.com:zvalidator.git</code>.</p>
            <p>Please feel free to fork this code and send any pull requests with updates and / or recommendations.</p>
            <p><a href="https://code.vilutis.lt">Zilvinas Vilutis</a></p>
        </article>
    </ui:define>

</ui:composition>