<!DOCTYPE html>
<f:view xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:a4j="http://richfaces.org/a4j"
    xmlns:rich="http://richfaces.org/rich"
    xmlns:richx="http://richfaces.org/richx" contentType="text/html"
    encoding="UTF-8">
<html>
<h:head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title><ui:insert name="headTitle">Head Title</ui:insert></title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    
  <style>
    .required { border-color: orange; }
  </style>

</h:head>
<h:body>
    <div class="container" role="main">

        <!-- Main jumbotron for a primary marketing message or call to action -->
        <div class="jumbotron page-header">
            <h1><ui:insert name="pageTitle">Page Title</ui:insert></h1>
        </div>

        <div>
            <h:panelGroup>
                <ui:insert name="contents">contents</ui:insert>
            </h:panelGroup>
        </div>
    </div>
    <script>
    $( document ).ready(function() {
      $(":required").addClass("required");
      $("input").change(function(event) {
        if (event.target.validity.valid) {
          //Field contains valid data
          $(event.target).parent(".form-group").removeClass("has-error")
        } else {
          //Field contains invalid data.
          $(event.target).parent(".form-group").addClass("has-error")
        }
      });
    });
    </script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
</h:body>
</html>
</f:view>